*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    border-bottom: 4px solid #3aa832;
}
.momo{
    color: #3aa832;
    text-align: center;
    
}
.moto{
    text-align: center;
}
.motx{
    margin-left: 220px;
}
.align{
    margin: 20px 205px;
}
.icon-item{
    margin: 25px;
}
.nop{
    color: #3aa832;
}

.btn-success{
    border-radius: 25px;
    color: whitesmoke;
    width: 190px;
    height: 50px;
    background-color: #3aa832;  
} 
.para{
    text-align: center;
}
.mott{
    margin: 5px 145px;
}

.ato{
    color: #3aa832;
    text-align: center;
    
}
.vvk{
    background-color: whitesmoke;
}
.mto{
    color: #3aa832;
    margin-left: 30px;
}
.mmo{
    float: right;
    width: 50%;
}
.col-img{
    margin-top: 30px;
}
.mesgg{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: start;
    font-size: medium;
}
.final-signup{
    text-align: center;
    background-color: #3aa832;
    padding: 25px 5px;
    color: #fff;
    background: linear-gradient(to right, #33cc33 5%, #66ff66 95%);

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: black;
}
.text-start{
    padding-left: 50px;
}
.xmo{
  font-size: 35px;
  color: #3aa832;
}
.modal-title{
    color: black;
}
.zxo{
    background-color: rgb(0, 132, 248);
    color: black;
}
.bxom{
    color: black;
} 
.modal-title{
    text-align: center;
}
.vdd{
    color: whitesmoke;
    margin: 20px 5px;
   
}
.testimonials-clean {
  color:#313437;
  background-color:#eef4f7;
}

.testimonials-clean p {
  color:#7d8285;
}

.testimonials-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

.testimonials-clean .item .box {
  padding:55px;
  background-color:#fff;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .parg1 {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}
.box{
    border-radius: 6px;
}
